<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jeon.board.mapper.BoardMapper">
    <select id="getMember" resultType="com.jeon.board.dto.Member">
        SELECT * FROM board.member;
    </select>

    <insert id="postWrite">
        INSERT INTO board.post (post_memberId, post_title, post_contents, post_category)
         VALUES(memberId, post.title, post.contents, post.category);
    </insert>
</mapper>