<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jeon.board.mapper.BoardMapper">

    <!-- 페이징 글 목록 -->
    <select id="getListPage" parameterType="hashMap" resultType="com.jeon.board.dto.Post">
        SELECT * FROM post
            WHERE member_num = #{data.memberNum}
                ORDER BY post_num DESC
                    limit #{data.displayPost}, #{data.postNum};
    </select>

    <!-- 검색 + 페이징 -->
    <select id="getSearch" parameterType="hashMap" resultType="com.jeon.board.dto.Post">
        SELECT * FROM post
            WHERE member_num = #{data.memberNum}
              <if test="data.keyword != null">
                AND title LIKE CONCAT('%', #{data.keyword}, '%')
              </if>
                    ORDER BY post_num DESC
                        limit #{data.displayPost}, #{data.postNum};
    </select>

    <!-- 카테고리 목록 -->
    <select id="getCategory" resultType="HashMap">
        SELECT category name, count(category) cnt FROM post
            WHERE member_num = #{memberNum}
                GROUP BY category HAVING category IS NOT NULL;
    </select>

    <!-- 모든 글 개수 -->
    <select id="getCount" resultType="int">
        SELECT count(*) FROM post
            WHERE member_num = #{memberNum};
    </select>

    <!-- 검색에 의한 글 개수 -->
    <select id="getCountSearch" parameterType="hashMap" resultType="int">
        SELECT count(*) FROM post
            WHERE member_num = #{data.memberNum}
                <if test="data.keyword != null">
                    AND title LIKE CONCAT('%', #{data.keyword}, '%')
                </if>
    </select>
    
    <!-- 글쓰기 -->
    <insert id="postWrite">
        INSERT INTO board.post (member_num, title, contents, category)
         VALUES(#{memberNum}, #{post.title}, #{post.contents}, #{post.category});
    </insert>

    <!-- 글 상세보기 -->
    <select id="getView" resultType="com.jeon.board.dto.Post">
        SELECT * FROM post WHERE post_num = #{post_num};
    </select>
</mapper>